body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: rgb(84, 182, 182);
    span {
        color: white;
        font-size: 1.3rem;
    }
}

.highlight-text {
    color:rgb(84, 182, 182);
}

header {
    color: white;
    background-color: rgb(30,40,40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    nav ul {
        display: flex;
        li {
            list-style: none;
            padding: 0 2rem;
            text-align: center;
            position: relative;
            a {
                text-decoration: none;
                color: white;
                padding-bottom: 5px;
            }
        }
    }
}

.link-highlight {
    border-bottom: 5px solid rgb(84, 182, 182);
}

.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    .logIn {
        box-shadow: 0 0 0 10px white, 0 10px 25px 0 rgba(20,20,20,0.7);
        background-color: rgba(141, 179, 197, 0.2);
        outline: 5px solid rgb(141, 179, 197);
        outline-offset: 10px;
        border-radius: 10px;
        padding: 1rem 3rem;
        margin-bottom: 8rem;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                font-size: 0.9rem;
                margin: 0;
                padding: 5px;
                &[type=submit] {
                    margin-bottom: 0.5rem;
                    background-color: rgb(141, 179, 197);
                    padding: 0.5rem 1rem;
                    border: none;
                    border-radius: 5px;
                    color: white;
                }
            }
            .fielderror {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                height: 1.5rem;
                margin-top: 5px;
                font-size: 0.8rem;
                color: red;
            }
        }

        a {
            color: black;
            font-size: 0.7rem;
        }
    }

    .calendar {
        width: 80vw;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        border-top: 3px solid rgb(30,40,40);
        padding-top: 2rem;
        .dates {
            padding: 0;
            width: 300px;
            min-height: 300px;
            .navigate-dates {
                background-color: rgb(141, 179, 197);
                padding: 0 0.5rem;
                display: flex;
                align-items: center;
                box-shadow: 0 0 5px 0 rgb(0,0,0);
                .current-month {
                    color: white;
                    background-color: rgb(30,40,40);
                    flex-grow: 1;
                    margin: 0 0.5rem;
                    padding: 0.5rem 0;
                }
            }
            .date-selection {
                display: flex;
                justify-content: center;
                gap: 5px;
                flex-wrap: wrap;
                padding: 0.5rem;

                .day {
                    background-color:rgb(84, 182, 182);
                    width: 3ch;
                    height: 3ch;
                    padding: 0.3rem;
                }
            }
        }
    }
    .times {
        h2 {
            margin: 0;
        }
    }
}

.module {
    box-shadow: 0 0 5px 0 rgb(0,0,0);
    background-color: rgba(141, 179, 197, 0.8);
    padding: 1rem;
    width: 60vh;
    height: 40vh;
}

footer {
    color: white;
    background-color: rgb(30,40,40);
    padding: 1rem;
    display: flex;
    justify-content: center;
}