$originalFeatureColor: rgba(84, 182, 182, 0.55);
$featureColor: rgb(84, 182, 182);
$bgColor: rgb(30,40,40);
$fontColorLight: rgb(255,255,255);
$fontColorDark: rgb(0,0,0);
$colorLight: rgb(255,255,255);
$colorOffWhite: rgb(233, 233, 233);
$colorDark: rgb(0,0,0);
$focusColor: rgb(207, 149, 40);