body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Open Sans", sans-serif;
}
body textarea, body input {
  font-family: "Open Sans", sans-serif;
  border: none;
}
body textarea[type=text], body textarea[type=password], body textarea[type=email], body input[type=text], body input[type=password], body input[type=email] {
  outline: 1px solid rgba(84, 182, 182, 0.55);
  padding: 5px;
}
body textarea[type=submit], body input[type=submit] {
  margin-bottom: 0.5rem;
  background-color: #54b6b6;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: white;
}
body textarea[type=submit]:hover, body input[type=submit]:hover {
  cursor: pointer;
  background-color: rgba(84, 182, 182, 0.55);
}
body textarea:focus, body input:focus {
  box-shadow: 0 0 0 5px orange;
}

header, footer {
  color: white;
  background-color: #1e2828;
  display: flex;
}
header .highlight-text, footer .highlight-text {
  font-size: 1.5rem;
  color: #54b6b6;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: relative;
}
header #burger-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 30px;
  z-index: 20;
}
header #burger-menu > div {
  z-index: 12;
  width: 100%;
  height: 3px;
  position: relative;
  background-color: white;
  transition: all 400ms ease;
}
header #burger-menu > div:before, header #burger-menu > div:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
}
header #burger-menu > div:before {
  top: -10px;
}
header #burger-menu > div:after {
  bottom: -10px;
}
header #menu-toggler {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  z-index: 21;
  opacity: 0;
  cursor: pointer;
}
header #menu-toggler:checked ~ nav {
  display: block;
}
header #menu-toggler:checked ~ #burger-menu {
  position: fixed;
}
header #menu-toggler:checked ~ #burger-menu > div {
  transform: rotate(135deg);
}
header #menu-toggler:checked ~ #burger-menu > div:before {
  display: none;
}
header #menu-toggler:checked ~ #burger-menu > div:after {
  top: 0;
  transform: rotate(90deg);
}
header nav {
  display: none;
  position: relative;
  z-index: 11;
  top: 0;
  left: 0;
}
header nav .menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
}
header nav .menu li {
  list-style: none;
  margin: 1rem 0;
  padding: 0 2rem;
  text-align: center;
  position: relative;
}
header nav .menu li a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}
header nav .menu li a:hover {
  color: #54b6b6;
}
header nav .menu li .link-highlight {
  border-bottom: 5px solid #54b6b6;
}
header nav .menu li .link-highlight:hover {
  color: white;
}

footer {
  justify-content: center;
  padding: 1rem;
}

.container {
  padding-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.container .logIn {
  box-shadow: 0 0 0 10px white, 0 0 0 15px #8db3c5, 0 10px 25px 0 rgba(20, 20, 20, 0.7);
  background-color: rgba(141, 179, 197, 0.2);
  border-radius: 10px;
  padding: 1rem 3rem;
  margin: 4rem 0;
}
.container .logIn form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .logIn form input {
  font-size: 0.9rem;
  margin: 0;
}
.container .logIn form .fielderror {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 1.5rem;
  margin-top: 5px;
  font-size: 0.8rem;
  color: #c93434;
}
.container .logIn a {
  color: black;
  padding: 0.35rem 0.75rem;
  font-size: 0.7rem;
}
.container .logIn a:focus {
  border: none;
  background-color: orange;
}

.msg-container {
  width: 100%;
  max-width: 1400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.msg-container .message-panels {
  width: 95%;
}
.msg-container .messages {
  align-self: flex-start;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.075);
  padding: 1rem 0 0;
  border-radius: 10px;
  margin-bottom: 3rem;
  width: 100%;
}
.msg-container .messages .message-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 1rem;
  margin-bottom: 1rem;
}
.msg-container .messages .message-header h3 {
  color: rgba(0, 0, 0, 0.75);
  margin: 0;
}
.msg-container .messages .message-header > div {
  padding: 1rem 0;
}
.msg-container .messages .message-button {
  color: white;
  background-color: #54b6b6;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 1rem;
  text-decoration: none;
}
.msg-container .messages .message-button:hover {
  background-color: rgba(84, 182, 182, 0.55);
}
.msg-container .messages .message-button:focus {
  box-shadow: 0 0 0 5px orange;
}
.msg-container .messages .results-header {
  display: none;
}
.msg-container .messages .msg-area {
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #e9e9e9;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.msg-container .messages .msg-area ul {
  padding: 0;
  margin: 0;
}
.msg-container .messages .msg-area ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  background-color: #e2dddd;
  margin-bottom: 0.5rem;
}
.msg-container .messages .msg-area ul li:last-of-type {
  margin-bottom: 1rem;
}
.msg-container .messages .msg-area ul li > div:first-of-type {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
}
.msg-container .messages .msg-area ul li > div:first-of-type span {
  margin: 0 1rem;
}
.msg-container .messages .msg-area ul li > div:first-of-type span:last-of-type {
  text-align: right;
}
.msg-container .messages .msg-area ul li > div:last-of-type {
  background-color: rgba(141, 179, 197, 0.2);
  padding: 0.5rem 1rem 0.75rem;
}
.msg-container .messages .msg-area ul li > div span {
  color: black;
  display: flex;
  flex-direction: column;
  background: none;
  text-align: left;
}
.msg-container .messages .msg-area ul li > div form {
  display: flex;
  justify-content: center;
}
.msg-container .messages .msg-area ul li button {
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem 3rem;
  color: white;
  background-color: #54b6b6;
  cursor: pointer;
}
.msg-container .messages .msg-area ul li button:hover {
  background-color: rgba(84, 182, 182, 0.55);
}
.msg-container .messages .msg-area ul .doctor {
  background-color: #cde0d4;
}
.msg-container .messages .msg-area .no-messages {
  margin-bottom: 2rem;
}
.msg-container .messages .msg-area .message-button {
  align-self: center;
  margin: 0.5rem;
  padding: 0.5rem 3rem;
  color: white;
  background-color: #54b6b6;
}
.msg-container .messages .msg-area .message-button:hover {
  background-color: rgba(84, 182, 182, 0.55);
}
.msg-container .newMessageContainer {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.95);
  margin: -2rem 0;
  padding-top: 2rem;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.msg-container .newMessageContainer .newMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2rem;
  border-radius: 10px;
  color: white;
  background-color: #54b6b6;
}
.msg-container .newMessageContainer .newMessage .message-stream {
  width: 100%;
  max-height: 30vh;
  overflow-y: scroll;
  padding: 0;
}
.msg-container .newMessageContainer .newMessage .message-stream li {
  list-style: none;
  text-align: left;
  padding: 1rem;
  color: black;
  background-color: #e2dddd;
  margin-bottom: 0.25rem;
}
.msg-container .newMessageContainer .newMessage .message-stream .doctor {
  background-color: #cde0d4;
}
.msg-container .newMessageContainer .newMessage textarea {
  resize: none;
  width: 100%;
  height: 15ch;
}
.msg-container .newMessageContainer .newMessage input, .msg-container .newMessageContainer .newMessage button {
  margin: 2rem;
  color: black;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}
.msg-container .newMessageContainer .newMessage input:hover, .msg-container .newMessageContainer .newMessage button:hover {
  background-color: white;
}

.current-appointments {
  width: 80vw;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid #54b6b6;
  box-shadow: 0 0 0 10px white, 0 5px 25px 0 rgba(20, 20, 20, 0.7);
  text-align: center;
  transition: opacity 400ms ease;
  background-color: white;
  z-index: 1;
}
.current-appointments > div {
  padding: 0;
  margin-bottom: 2rem;
}
.current-appointments .booked-appointment {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #54b6b6;
  border-bottom: 1px solid black;
}
.current-appointments .appointment-note {
  background: none;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 3rem;
}
.current-appointments .appointment-note span {
  text-align: left;
}
.current-appointments .button {
  background-color: #54b6b6;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 20ch;
  margin: 0 auto;
  padding: 0.5rem;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.current-appointments .button:hover {
  background-color: rgba(84, 182, 182, 0.55);
}
.current-appointments .button:focus {
  border: none;
  background-color: #54b6b6;
  box-shadow: 0 0 0 5px orange;
}

.appointments-container {
  width: 100%;
}
.appointments-container .calendar-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-start;
  padding-top: 2rem;
  transition: opacity 600ms ease;
}
.appointments-container .calendar-area #choose-date, .appointments-container .calendar-area #choose-time {
  width: 100%;
  text-align: center;
}
.appointments-container .calendar-area #choose-date > div > div, .appointments-container .calendar-area #choose-time > div > div {
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.appointments-container .calendar-area > div > div:first-of-type .calendar-heading {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0.5em 0;
  border-bottom: 2px solid black;
  padding: 0.5rem 0 1rem;
}
.appointments-container .calendar-area > div > div:first-of-type .calendar-heading span {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}
.appointments-container .calendar-area > div > div:first-of-type .calendar-heading a {
  color: black;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5rem 1rem 0;
  background-color: rgba(84, 182, 182, 0.55);
}
.appointments-container .calendar-area > div > div:first-of-type .calendar-heading a:hover {
  background-color: #54b6b6;
}
.appointments-container .calendar-area > div > div:first-of-type .calendar-heading .no-highlight {
  background: none;
  border-radius: 0;
}
.appointments-container .calendar-area > div > div:first-of-type .calendar-heading .no-highlight:focus {
  border: none;
  background: none;
  color: orange;
}
.appointments-container .calendar-area > div > div:first-of-type .datesArea {
  display: grid;
  grid-template-columns: repeat(7, 8ch);
  justify-content: center;
}
.appointments-container .calendar-area > div > div:first-of-type .datesArea > .calendar-element-days {
  padding-bottom: 3px;
}
.appointments-container .calendar-area > div > div:first-of-type .datesArea > .calendar-element {
  background-color: #54b6b6;
  margin: 3px;
  padding: 0.5rem 0;
  color: white;
  text-decoration: none;
}
.appointments-container .calendar-area > div > div:first-of-type .datesArea > .calendar-element:hover {
  color: black;
  background-color: rgba(84, 182, 182, 0.55);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.75);
  padding: 0.4rem 0;
  font-size: 1.1rem;
  cursor: pointer;
}
.appointments-container .calendar-area > div > div:first-of-type .datesArea .inactiveDate {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3);
  background: none;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}
.appointments-container .calendar-area > div > div:first-of-type .datesArea .highlight-date {
  color: black;
  background-color: rgba(84, 182, 182, 0.25);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.75);
  padding: 0.4rem 0;
  font-size: 1.1rem;
}
.appointments-container .calendar-area > div:last-child {
  width: 40%;
  opacity: 0.2;
}
.appointments-container .calendar-area > div:last-child .results {
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.appointments-container .calendar-area > div:last-child .results .times-heading {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  padding: 0.5rem 0 1rem;
  font-size: 1.4rem;
  opacity: 0;
  border-bottom: 2px solid black;
}
.appointments-container .calendar-area > div:last-child .results .results-area {
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.appointments-container .calendar-area > div:last-child .results .results-area .result {
  color: white;
  background-color: rgba(84, 182, 182, 0.55);
  background-color: #54b6b6;
  padding: 0.5rem 1rem;
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
}
.appointments-container .calendar-area > div:last-child .results .results-area .result:hover {
  outline: none;
  color: black;
  border-radius: 0;
  padding: 0.3rem 0.6rem;
  font-size: 1.1rem;
  background-color: rgba(84, 182, 182, 0.55);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.confirm-appointment {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 0 0 10px white, 0 10px 25px 0 rgba(20, 20, 20, 0.7);
  background-color: rgba(141, 179, 197, 0.2);
  outline: 5px solid #8db3c5;
  outline-offset: 10px;
  border-radius: 10px;
  padding: 1rem 3rem;
  margin-bottom: 8rem;
}
.confirm-appointment > * {
  margin: 1rem 0;
}
.confirm-appointment #complete-booking-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirm-appointment #complete-booking-header > span {
  font-size: 0.8rem;
}
.confirm-appointment form {
  width: 100%;
}
.confirm-appointment form textarea {
  resize: none;
  width: 100%;
  height: 15ch;
}
.confirm-appointment form button {
  margin: 0.5rem 1rem;
  background-color: #8db3c5;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  min-width: 25ch;
  cursor: pointer;
}
.confirm-appointment form button:last-of-type {
  background-color: #c23636;
}

.confirmation-message {
  background-color: #54b6b6;
  border-radius: 10px;
  margin: 0 2rem;
  padding: 2rem 3rem 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.confirmation-message a {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.confirmation-message a:focus {
  border: none;
  box-shadow: 0 0 0 5px orange;
}

.doctor-appointments {
  width: 90vw;
  max-width: 1400px;
  min-height: 30vh;
  background-color: rgba(0, 0, 0, 0.075);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 3rem;
  padding: 0;
  text-align: left;
}
.doctor-appointments h3 {
  color: rgba(0, 0, 0, 0.75);
  padding-left: 1rem;
}
.doctor-appointments .no-appointments {
  padding-top: 2rem;
  text-align: center;
}
.doctor-appointments ul {
  padding: 0;
}
.doctor-appointments li {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0.5rem 1rem 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #e2dddd;
}
.doctor-appointments li div {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  min-height: 1.4rem;
  margin: 0.5rem 0;
  align-items: center;
}
.doctor-appointments li div span {
  margin-right: 1rem;
}
.doctor-appointments li div span:last-of-type {
  margin-right: 0;
  display: flex;
  justify-content: center;
}
.doctor-appointments li div span:last-of-type button {
  border: none;
  padding: 0.25rem 0.5rem;
  color: white;
  background-color: #54b6b6;
  transition: outline 200ms ease-out;
  cursor: pointer;
}
.doctor-appointments li div span:last-of-type button:hover {
  box-shadow: 0 0 0 5px #54b6b6;
}
.doctor-appointments li div span:last-of-type button:focus {
  box-shadow: 0 0 0 5px orange;
}
.doctor-appointments li div:last-of-type {
  display: flex;
}
.doctor-appointments li div:last-of-type .appointment-notes {
  border-top: 1px dashed white;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
}
.doctor-appointments li:first-of-type {
  background-color: #54b6b6;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.doctor-appointments li:first-of-type span {
  margin-right: 1rem;
}
.doctor-appointments li:first-of-type span:last-of-type {
  margin-right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 800px) {
  header #burger-menu {
    display: none;
  }
  header nav {
    display: block;
    position: relative;
    z-index: 11;
  }
  header nav .menu {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    background: none;
  }
  header nav .menu li {
    list-style: none;
    margin: 1rem 0;
    padding: 0 2rem;
    text-align: center;
    position: relative;
  }
  header nav .menu li a {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
  }
  header nav .menu li a:hover {
    color: #54b6b6;
  }
  header nav .menu li .link-highlight {
    border-bottom: 5px solid #54b6b6;
  }
  header nav .menu li .link-highlight:hover {
    color: white;
  }

  .msg-container .messages .message-header {
    flex-direction: row;
  }
  .msg-container .messages .results-header {
    display: flex;
    background-color: #54b6b6;
  }
  .msg-container .messages .results-header > div {
    text-align: left;
    padding: 1rem 0;
  }
  .msg-container .messages .results-header > div:first-of-type {
    width: 40ch;
    display: flex;
  }
  .msg-container .messages .results-header > div:first-of-type > span {
    padding-left: 1rem;
    width: 50%;
  }
  .msg-container .messages .results-header > div:last-of-type {
    flex-grow: 1;
    padding-left: 1rem;
  }
  .msg-container .messages .msg-area {
    max-height: 50vh;
    overflow-y: scroll;
  }
  .msg-container .messages .msg-area ul li {
    flex-direction: row;
    align-items: stretch;
  }
  .msg-container .messages .msg-area ul li > div {
    list-style: none;
    text-align: left;
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .msg-container .messages .msg-area ul li > div:first-of-type {
    min-width: 40ch;
    margin: 0;
    padding-left: 0;
  }
  .msg-container .messages .msg-area ul li > div:first-of-type span:last-of-type {
    padding: 0 1rem;
  }
  .msg-container .messages .msg-area ul li > div:last-of-type {
    background: none;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 1rem 2rem 1rem 0;
  }
  .msg-container .messages .msg-area ul li > div:last-of-type span {
    flex-grow: 1;
    align-self: flex-start;
  }
  .msg-container .messages .msg-area ul li span:nth-of-type(2) {
    border-left: 2px dashed white;
    border-right: 2px dashed white;
  }
  .msg-container .messages .msg-area ul li span:last-of-type {
    text-align: left;
  }

  .appointments-container {
    overflow-y: scroll;
  }
  .appointments-container .calendar-area {
    flex-direction: row;
  }

  .confirm-appointment {
    width: 35vw;
  }

  .current-appointments .booked-appointment {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
