body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #54b6b6;
}
h1 span {
  color: white;
  font-size: 1.3rem;
}

.highlight-text {
  color: #54b6b6;
}

header {
  color: white;
  background-color: #1e2828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
  padding: 0 2rem;
  text-align: center;
  position: relative;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

.link-highlight {
  border-bottom: 5px solid #54b6b6;
}

.container {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container .logIn {
  box-shadow: 0 0 0 10px white, 0 10px 25px 0 rgba(20, 20, 20, 0.7);
  background-color: rgba(141, 179, 197, 0.2);
  outline: 5px solid #8db3c5;
  outline-offset: 10px;
  border-radius: 10px;
  padding: 1rem 3rem;
  margin-bottom: 8rem;
}
.container .logIn form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .logIn form input {
  font-size: 0.9rem;
  margin: 0;
  padding: 5px;
}
.container .logIn form input[type=submit] {
  margin-bottom: 0.5rem;
  background-color: #8db3c5;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: white;
}
.container .logIn form .fielderror {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 1.5rem;
  margin-top: 5px;
  font-size: 0.8rem;
  color: red;
}
.container .logIn a {
  color: black;
  font-size: 0.7rem;
}
.container .newMessageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .newMessageContainer .newMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2rem;
  color: white;
  background-color: #54b6b6;
}
.container .newMessageContainer .newMessage textarea {
  resize: none;
  width: 80%;
  min-width: 60ch;
  height: 15ch;
}
.container .newMessageContainer .newMessage a, .container .newMessageContainer .newMessage input {
  margin: 2rem;
  color: black;
  text-decoration: none;
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
}
.container .dates h2, .container .times h2 {
  margin-top: 0;
}
.container .dates .time-slots, .container .times .time-slots {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  max-height: 200px;
  overflow-y: scroll;
}
.container .dates .time-slots .slot, .container .times .time-slots .slot {
  display: block;
  background-color: #54b6b6;
  padding: 0.5rem 4rem;
  margin: 0.5rem 0;
  border-radius: 10px;
  cursor: pointer;
}
.container .dates .time-slots .slot:hover, .container .times .time-slots .slot:hover {
  background-color: rgba(84, 182, 182, 0.55);
}
.container .alert {
  background-color: #54b6b6;
  border-radius: 10px;
  padding: 2rem 3rem 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.container .alert a {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.messages {
  align-self: flex-start;
  box-shadow: 0 0 5px 0 black;
  background-color: #54b6b6;
  margin-top: 2rem;
  padding: 1rem 0 0;
  width: 90%;
}
.messages .message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 1rem;
  margin-bottom: 1rem;
  color: white;
}
.messages .message-header h3 {
  margin: 0;
}
.messages .message-button {
  color: #54b6b6;
  background-color: #e9e9e9;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 1rem;
  text-decoration: none;
}
.messages .msg-area {
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #ececec;
  min-height: 50vh;
  max-height: calc(100vh - 40vh);
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.messages .msg-area ul {
  padding: 0;
  margin: 0;
}
.messages .msg-area ul li {
  display: flex;
  align-items: stretch;
  list-style: none;
  text-align: left;
  padding: 1rem;
  background-color: #cadbd1;
  margin-bottom: 0.5rem;
}
.messages .msg-area ul li:last-of-type {
  margin-bottom: 1rem;
}
.messages .msg-area ul li span {
  padding: 0 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  min-width: 12ch;
  margin-right: 1rem;
}
.messages .msg-area ul li span:last-of-type {
  border-left: 2px dashed white;
  border-right: 2px dashed white;
  text-align: center;
}
.messages .msg-area ul .Doctor {
  background-color: #dfdfdf;
}
.messages .msg-area .message-button {
  align-self: center;
  margin: 0.5rem;
  padding: 0.5rem 3rem;
  color: white;
  background-color: #54b6b6;
}

footer {
  color: white;
  background-color: #1e2828;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.dayBox {
  background-color: rgba(0, 0, 0, 0.4);
  flex-grow: 1;
  padding: 0.5rem 0;
  max-width: calc((100% * 1/7) - 4px);
}

.appointments {
  width: 80vw;
  height: 40vh;
  margin: 2rem auto 0;
  padding: 2rem;
  border-radius: 10px;
  border: 3px solid black;
  text-align: center;
  transition: opacity 400ms ease;
  background-color: white;
  z-index: 2;
}
.appointments > div {
  padding: 0;
  margin: 2rem;
}
.appointments .booked-appointment {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  background-color: #54b6b6;
  border-bottom: 1px solid black;
}
.appointments .appointment-note {
  background: none;
  justify-content: flex-start;
  margin-bottom: 3rem;
}
.appointments .button {
  background-color: rgba(84, 182, 182, 0.55);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 20ch;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.appointments .button:hover {
  outline: none;
  background-color: #54b6b6;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.calendar-area {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  padding-top: 2rem;
  position: absolute;
  top: 5rem;
  transition: opacity 600ms ease;
}
.calendar-area > div:first-of-type .calendar-heading {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0.5em 0;
  border-bottom: 2px solid black;
  padding: 0.5rem 0 1rem;
}
.calendar-area > div:first-of-type .calendar-heading span {
  font-size: 1.4rem;
}
.calendar-area > div:first-of-type .calendar-heading a {
  color: black;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5rem 1rem 0;
  background-color: rgba(84, 182, 182, 0.55);
}
.calendar-area > div:first-of-type .calendar-heading a:hover {
  background-color: #54b6b6;
}
.calendar-area > div:first-of-type .calendar-heading a:nth-of-type(2) {
  background: none;
  padding: 0 0 5px;
}
.calendar-area > div:first-of-type .datesArea {
  display: grid;
  grid-template-columns: repeat(7, 8ch);
  justify-content: center;
}
.calendar-area > div:first-of-type .datesArea > .calendar-element {
  background-color: #54b6b6;
  margin: 3px;
  padding: 0.5rem 0;
  color: white;
  text-decoration: none;
}
.calendar-area > div:first-of-type .datesArea > .calendar-element:hover {
  color: black;
  background-color: rgba(84, 182, 182, 0.25);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.75);
  padding: 0.4rem 0;
  font-size: 1.1rem;
}
.calendar-area > div:first-of-type .datesArea .highlight-date {
  color: black;
  background-color: rgba(84, 182, 182, 0.25);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.75);
  padding: 0.4rem 0;
  font-size: 1.1rem;
}
.calendar-area > div:first-child > div > div {
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.calendar-area > div:last-child {
  width: 40%;
  opacity: 0.2;
}
.calendar-area > div:last-child .results {
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.calendar-area > div:last-child .results .times-heading {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  padding: 0.5rem 0 1rem;
  font-size: 1.4rem;
  opacity: 0;
  border-bottom: 2px solid black;
}
.calendar-area > div:last-child .results .results-area {
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.calendar-area > div:last-child .results .results-area .result {
  color: white;
  background-color: rgba(84, 182, 182, 0.55);
  background-color: #54b6b6;
  padding: 0.5rem 1rem;
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
}
.calendar-area > div:last-child .results .results-area .result:hover {
  color: black;
  border-radius: 0;
  padding: 0.3rem 0.6rem;
  font-size: 1.1rem;
  background-color: rgba(84, 182, 182, 0.25);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.75);
}

.confirmBooking {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 0 0 10px white, 0 10px 25px 0 rgba(20, 20, 20, 0.7);
  background-color: rgba(141, 179, 197, 0.2);
  outline: 5px solid #8db3c5;
  outline-offset: 10px;
  border-radius: 10px;
  padding: 1rem 3rem;
  margin-bottom: 8rem;
}
.confirmBooking > * {
  margin: 1rem 0;
}
.confirmBooking form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.confirmBooking form textarea {
  resize: none;
  width: 100%;
  height: 15ch;
}
.confirmBooking form button {
  margin: 0.5rem 1rem;
  background-color: #8db3c5;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  min-width: 25ch;
  cursor: pointer;
}
.confirmBooking form button:last-of-type {
  background-color: rgba(255, 0, 0, 0.4);
}

/*# sourceMappingURL=styles.css.map */
